header{
    background: #CCCCCC;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav a {
    text-transform: uppercase;
    color:black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    margin: 0 0 0 15px;

}

nav a:hover{
    color: #C78C19;
    text-decoration: underline;
}

#banner {
    width: 100%;
}

.titulo-centralizado {
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
}

.principal {
    background: #CCCCCC;
    padding: 20px 0; 
}

.principal p {
    padding: 5px 50px;
    font-size: 18px;
}
#missao {
    font-size: 22px;
    text-align: center;
}

em strong {
    color: red;
    
}

.itens {
    font-style: italic;
    list-style: none;
    font-size: 18px;
    padding: 10px 0;
}

.beneficios {
    background: #FFFFFF;
    width: 940px;
    margin: 0 auto;
    padding: 20px 0; 
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    margin-right: 15%;
}

#imagembeneficios {
    width: 50%;
}

footer {
    text-align: center;
    background: url(bg.jpg);
    padding: 40px 0;
    
}

.copyright {
    color: white;
    font-size: 13px;
    margin-top: 20px;
     
}